/* **** INICIO DE @MEDIA QUERYS ************************************************************************** */

/* a modo práctico, cada @media tiene reescritas cada página */



/* Media query para teléfonos MUY PEQUEÑOS móviles SM XS */
@media only screen and (max-width: 400px) {

    /* INICIO CÓDIGO BOOTSTRAP BARRA DE NAVEGACIÓN  */
    .navbar-header {
      background-color: #4bb123;
      height: 65px;
    }
  
    /* "N U M E R O S " */
    .nav-marca-logo {
      font-size: 2.5rem;
      letter-spacing: 2px;
      margin-top: 10px;
      margin-left: 15px;
    }
  
    .boton {
      /* son los enlaces dentro del menú desplegable de bootstrap */
      font-size: 20px;
    }
  
    /* FIN CÓDIGO BOOTSTRAP BARRA DE NAVEGACIÓN  */
  
  
    /*  inicio index.html section 1 | enlaces a redes sociales  */
    .enlaces-iconos {
      width: 80% !important;
    }
  
    /*  fin section index.html 1 | enlaces a redes sociales  */
  
  
    .seccion-titulo {
      /* son los titulos de las seccionnes ("Secciones", "Buscador")
            esto va en la @media query*/
      font-size: 22px;
    }
  
  
    /* ******* inicio index.html seccion-2 presentacion *************** */
    .seccion-2-presentacion {
      min-height: 500px;
      width: 92%;
  
      border-radius: 10px;
      margin-left: 3%;
      background-image: url(../IMG/presentacion.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* centrar el elemento hijo */
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  
    /* cuadro traslúcido que contiene al h2 central */
    .cuadro-presentacion {
      /* este elemento fue centrado desde su padre .seccion-1-presentacion */
      height: auto;
      width: 90%;
      /*  border: 3px rgb(124, 211, 232) solid; */
      border-radius: 10px;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .cuadro-presentacion h2 {
      /*h2 Ciudad de Bs As...*/
      color: #EB8B88;
      font-size: 3rem;
      text-align: center;
    }
  
  
  
    /* div que contiene el parrafo y botón "Registrarse" */
    .registrate {
      background-color: white;
      height: auto;
      width: 90% !important;
  
      padding: 10px 20px;
  
      font-size: 1.8rem;
      border: 2px #2954df double;
      border-radius: 20px;
      /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
      /* box-shadow: inset 0px 0px 20px #2954df,*/
      /* difuminado interno */
      /*  0px 0px 20px #2954df; */
      /* difuminado externo */
  
      /* en dispositivos pequeños, este div
  debe acomodar sus elementos en una columna */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      /* en dispositivos pequeños, 
  el texto aparecerá justificado */
      text-align: justify;
    }
  
    /* div que contiene el parrafo y botón "Conexión API" */
    .conexion-api-exploradores {
      background-color: black;
      color: rgb(70, 103, 211);
      height: auto;
      width: 90% !important;
  
      padding: 10px 20px;
  
      font-size: 1.8rem;
      border: 2px blueviolet double;
      border-radius: 20px;
      /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
      /*  box-shadow: inset 0px 0px 20px blueviolet, */
      /* difuminado interno */
      /*  0px 0px 20px blueviolet; */
      /* difuminado externo */
  
      /* en dispositivos pequeños, este div
  debe acomodar sus elementos en una columna */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      /* en dispositivos pequeños, 
  el texto aparecerá justificado */
      text-align: justify;
    }
  
    /* boton enlace "Registrate" */
    .registrate a {
      background-color: #2954df;
      color: white;
      height: auto;
      width: 160px;
  
      font-size: 2rem;
      border-radius: 6px;
  
      text-align: center;
      /* quitar decoracion al enlace */
      text-decoration: none;
    }
  
    /* boton enlace "Conexión API" */
    .conexion-api-exploradores a {
      color: white;
      height: auto;
      width: 180px;
  
      font-size: 2rem;
      border: 2px white double;
      border-radius: 6px;
  
      text-align: center;
      /* quitar decoracion al enlace */
      text-decoration: none;
    }
  
  
    /* ******* fin index.html seccion-2 presentacion *************** */
  
  
  
    /* ******* inicio index.html seccion-3 galeria *************** */
    .seccion-3-galeria {
      /* Contiene el titulo y la galeria de productos */
  
      /* debe contener los 1500px de la galeria
      sumarle los 50px del titulo
      sumarle los 35px de top
      sumarle los 40px de boottom
      total = 1625px */
      min-height: 1625px;
      width: 100%;
      margin-top: 60px;
    }
  
    .galeria-productos {
      /* Contiene las 6 tarjetas giratorias 
  y por eso, esta classe debe estar en las @medias querys*/
  
      /* son 6 card * 200px = 1200px
      sumarle 50px*6=300px de bottom
      total de 1500px */
      min-height: 1500px;
      width: 90%;
      margin-bottom: 30px;
      margin-left: 4%;
      /* centrar a los elemento hijos */
      display: block;
      /* Convertimos al contenedor en flexbox */
      flex-direction: column;
      /* Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda */
      justify-content: space-between;
      /* Con esto le indicamos que si llega al margen del contenedor que se posicione abajo del otro item 
            flex-wrap: wrap;*/
      align-items: center;
    }
  
    .producto {
      /* Contiene la card-frente y card-dorso */
      min-height: 200px;
      width: 80%;
      margin: 50px 7%;
      /* centrar a los elemento hijos */
      display: flex;
      /* Convertimos al contenedor en flexbox */
      flex-direction: column;
      align-items: center;
  
      /* ocultar todo lo que este fuera del div 
  overflow: hidden; */
  
      /* animación 
  transform: translate(-50%, -50%); */
    }
  
    .card {
      /* class de card-frente y card-dorso  */
      position: absolute;
      min-height: 200px;
      /* ancho proporcional a su elemento padre */
      width: 80%;
  
      /* animación */
      /* no permitir elegir si el usuario debe ver la cara posterior */
      backface-visibility: hidden;
      /* controlar la velocidad de la animación al cambiar las propiedades de CSS */
      transition: 1s;
  
      /* ocultar todo lo que este fuera del div */
      overflow: hidden;
    }
  
    /* CARRUSEL DE IMG */
    .section-carrusel {
      height: 500px;
      width: 100%;
    }
  
    .producto h2,
    .producto h3 {
      /* h2 y h3 de las tarjetas */
      font-size: 25px;
      color: black;
    }
  
  
    /* En dispositivos pequeños las img de las tarjetas
   se ubican en los div card-frente */
    .card-frente-transporte {
      background-image: url(../IMG/card-transporte1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-salud {
      background-image: url(../IMG/card-salud1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-educacion {
      background-image: url(../IMG/card-educacion1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-seguridad {
      background-image: url(../IMG/card-seguridad1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-comunidad {
      background-image: url(../IMG/card-comunidad1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-redes {
      background-image: url(../IMG/card-redes1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    /* ******* fin index.html seccion-3 galeria *************** */
  
  
    /* ******* inicio index.html seccion-4 buscador *************** */
    .seccion-4-buscador {
      height: 700px;
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .encontraste,
    .prueba {
      /* es el texto en la seccion del buscador 
  h2 "Si no encontraste lo que buscabas. Prueba aqui"
  */
      font-size: 20px;
    }
  
    .buscador-titulo,
    .buscador-pregunta {
      /*  */
      background-color: #F8E7DB;
      width: 90%;
      padding-bottom: 20px;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    .buscador-prueba {
      /* h2 "Prueba aqui..." y buscador */
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .buscador {
      /* Contiene al input y al boton del buscador */
      background-color: white;
      height: 45px;
      width: 80%;
      margin-left: 2%;
      border: 1px gray solid;
      /* centrar el elemento hijo */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 30px;
    }
  
    .buscador input {
      background-color: transparent;
      height: 43px;
      width: 85%;
      padding-left: 10px;
      /* quitar decoraciones del input */
      border: 0;
      outline: none;
    }
  
    .buscador button {
      background-color: rgb(97, 97, 112);
      height: 41px;
      width: 44px;
      padding: 5px;
      border: none;
      border-radius: 70px;
    }
  
    /* ******* fin index.html seccion-4 buscador *************** */
  
  
  }
  
  
  
  
  /* Media query para teléfonos STANDAR móviles SM XS */
  @media only screen and (min-width: 401px) and (max-width: 767px) {
  
    /* INICIO CÓDIGO BOOTSTRAP BARRA DE NAVEGACIÓN  */
    .navbar-header {
      background-color: #4bb123;
      height: 70px;
    }
  
    /* "N U M E R O S " */
    .nav-marca-logo {
      font-size: 3.5rem;
      letter-spacing: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .boton {
      /* son los enlaces dentro del menú desplegable de bootstrap */
      font-size: 22px;
    }
  
    /* FIN CÓDIGO BOOTSTRAP BARRA DE NAVEGACIÓN  */
  
  
  
    /*  inicio index.html section 1 | enlaces a redes sociales  */
    .enlaces-iconos {
      width: 80% !important;
    }
  
    /*  fin index.html section 1 | enlaces a redes sociales  */
  
  
    .seccion-titulo {
      /* son los titulos de las seccionnes ("Secciones", "Buscador")
            esto va en la @media query*/
      font-size: 32px;
    }
  
  
    /* ******* inicio index.html seccion-2 presentacion *************** */
    .seccion-2-presentacion {
      height: 500px;
      width: 92%;
  
      border-radius: 10px;
      margin-left: 4%;
      background-image: url(../IMG/presentacion.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* centrar el elemento hijo */
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  
    /* cuadro traslúcido que contiene al h2 central */
    .cuadro-presentacion {
      /* este elemento fue centrado desde su padre .seccion-1-presentacion */
      height: auto;
      width: 90%;
      /*  border: 3px rgb(124, 211, 232) solid; */
      border-radius: 10px;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .cuadro-presentacion h2 {
      /*h2 Ciudad de Bs As...*/
      color: #EB8B88;
      font-size: 3.3rem;
      text-align: center;
    }
  
  
    /* div que contiene el parrafo y botón "Registrarse" */
    .registrate {
      background-color: white;
      height: auto;
      width: 90% !important;
  
      padding: 10px 20px;
  
      font-size: 1.8rem;
      border: 2px #2954df double;
      border-radius: 20px;
      /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
      /* box-shadow: inset 0px 0px 20px #2954df,*/
      /* difuminado interno */
      /*  0px 0px 20px #2954df; */
      /* difuminado externo */
  
      /* en dispositivos pequeños, este div
  debe acomodar sus elementos en una columna */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      /* en dispositivos pequeños, 
  el texto aparecerá justificado */
      text-align: justify;
    }
  
    /* div que contiene el parrafo y botón "Conexión API" */
    .conexion-api-exploradores {
      background-color: black;
      color: rgb(70, 103, 211);
      height: auto;
      width: 90% !important;
  
      padding: 10px 20px;
  
      font-size: 1.8rem;
      border: 2px blueviolet double;
      border-radius: 20px;
      /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
      /*  box-shadow: inset 0px 0px 20px blueviolet, */
      /* difuminado interno */
      /*  0px 0px 20px blueviolet; */
      /* difuminado externo */
  
      /* en dispositivos pequeños, este div
  debe acomodar sus elementos en una columna */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      /* en dispositivos pequeños, 
  el texto aparecerá justificado */
      text-align: justify;
    }
  
    /* boton enlace "Registrate" */
    .registrate a {
      background-color: #2954df;
      color: white;
      height: auto;
      width: 160px;
  
      font-size: 2rem;
      border-radius: 6px;
  
      text-align: center;
      /* quitar decoracion al enlace */
      text-decoration: none;
    }
  
    /* boton enlace "Conexión API" */
    .conexion-api-exploradores a {
      color: white;
      height: auto;
      width: 180px;
  
      font-size: 2rem;
      border: 2px white double;
      border-radius: 6px;
  
      text-align: center;
      /* quitar decoracion al enlace */
      text-decoration: none;
    }
  
    /* ******* fin index.html seccion-2 presentacion *************** */
  
    /* ******* inicio index.html seccion-3 galeria *************** */
    .seccion-3-galeria {
      /* Contiene el titulo y la galeria de productos */
  
      /* debe contener los 1800px de la galeria
      sumarle los 50px del titulo
      sumarle los 35px de top
      sumarle los 40px de boottom
      total = 1925px */
      height: 1925px;
      margin-top: 50px;
  
    }
  
    .galeria-productos {
      /* Contiene las 6 tarjetas giratorias 
  y por eso, esta classe debe estar en las @medias querys*/
  
      /* son 6 card * 250px = 1500px
      sumarle 50px*6=300px de bottom
      total de 1800px */
      min-height: 1800px;
      width: 90%;
      margin-left: 5%;
      margin-bottom: 30px;
      /* centrar a los elemento hijos */
      display: block;
      /* Convertimos al contenedor en flexbox */
      flex-direction: column;
      /* Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda */
      justify-content: space-between;
      /* Con esto le indicamos que si llega al margen del contenedor que se posicione abajo del otro item 
            flex-wrap: wrap;*/
      align-items: center;
    }
  
    .producto {
      /* Contiene la card-frente y card-dorso */
      min-height: 250px;
      width: 80%;
      margin: 50px 7%;
      /* centrar a los elemento hijos */
      display: flex;
      /* Convertimos al contenedor en flexbox */
      flex-direction: column;
      align-items: center;
  
      /* ocultar todo lo que este fuera del div 
  overflow: hidden; */
  
      /* animación 
  transform: translate(-50%, -50%); */
    }
  
    .card {
      /* class de card-frente y card-dorso  */
      position: absolute;
      min-height: 250px;
      /* ancho proporcional a su elemento padre */
      width: 80%;
  
      /* animación */
      /* no permitir elegir si el usuario debe ver la cara posterior */
      backface-visibility: hidden;
      /* controlar la velocidad de la animación al cambiar las propiedades de CSS */
      transition: 1s;
  
      /* ocultar todo lo que este fuera del div */
      overflow: hidden;
    }
  
    /* CARRUSEL DE IMG */
    .section-carrusel {
      height: 450px;
      width: 100%;
    }
  
    .producto h2,
    .producto h3 {
      /* h2 y h3 de las tarjetas */
      font-size: 25px;
      color: black;
    }
  
    /* En dispositivos pequeños las img de las tarjetas
   se ubican en los div card-frente */
    .card-frente-transporte {
      background-image: url(../IMG/card-transporte1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-salud {
      background-image: url(../IMG/card-salud1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-educacion {
      background-image: url(../IMG/card-educacion1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-seguridad {
      background-image: url(../IMG/card-seguridad1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-comunidad {
      background-image: url(../IMG/card-comunidad1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .card-frente-redes {
      background-image: url(../IMG/card-redes1.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    /* ******* fin index.html seccion-3 galeria *************** */
  
  
  
  
    /* ******* inicio index.html seccion-4 buscador *************** */
    .seccion-4-buscador {
      height: 700px;
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .encontraste,
    .prueba {
      /* es el texto en la seccion del buscador 
  h2 "Si no encontraste lo que buscabas. Prueba aqui"
  */
      font-size: 20px;
    }
  
    .buscador-titulo,
    .buscador-pregunta {
      /*  */
      background-color: #F8E7DB;
      width: 90%;
      padding-bottom: 20px;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    .buscador-prueba {
      /* h2 "Prueba aqui..." y buscador */
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .buscador {
      /* Contiene al input y al boton del buscador */
      background-color: white;
      min-height: 40px;
      width: 80%;
      margin-left: 2%;
      border: 1px gray solid;
      /* centrar el elemento hijo */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 30px;
    }
  
    .buscador input {
      background-color: transparent;
      min-height: 50px;
      width: 85%;
      padding-left: 10px;
      /* quitar decoraciones del input */
      border: 0;
      outline: none;
    }
  
    .buscador button {
      background-color: rgb(97, 97, 112);
      min-height: 38px;
      width: 40px;
      padding: 5px;
      border: none;
      border-radius: 70px;
    }
  
    /* ******* fin index.html seccion-4 buscador *************** */
  }
  
  
  
  
  /* Media query para tabletas MD */
  @media only screen and (min-width: 768px) and (max-width:991px) {
    .seccion-titulo {
      /* son los titulos de las seccionnes ("Secciones", "Buscador")
                      esto va en la @media query*/
      font-size: 28px;
    }
  
  
    /* INICIO CÓDIGO BOOTSTRAP BARRA DE NAVEGACIÓN  */
    /* ******* inicio 3) nav | CÓDIGO BOOTSTRAP BARRA DE NAVEGACIÓN *************** */
  
    .nav {
      background-color: #4bb123;
    }
  
  
    .container-fluid {
      background-color: #4bb123;
      min-height: 90px;
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .navbar-brand {
      background-color: antiquewhite;
      width: 300px;
      margin-right: 20px;
      text-align: center;
    }
  
    .navbar-collapse,
    .collapse,
    .navbar-header {
      background-color: #4bb123 !important;
      border: none !important;
    }
  
    /* efecto hover en los enlaces */
    .navbar-inverse .navbar-nav>li>a:hover {
      background-color: #FFA202 !important;
    }
  
    /* "N U M E R O S " */
    .nav-marca-logo {
      /* span */
      font-size: 39px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .boton {
      /* son los enlaces dentro del menú desplegable de bootstrap */
      font-size: 15px;
      color: #F1F5F5 !important;
    }
  
    /* hamburguesa | home,secciones,buscar,contaco,iniciarsesion */
    .navbar-nav {
      font-size: 2rem;
      border-left: 2px #025FFF solid;
    }
  
    /* FIN CÓDIGO BOOTSTRAP BARRA DE NAVEGACIÓN  */
  
    /*  inicio index.html section 1 | enlaces a redes sociales  */
    .enlaces-iconos {
      width: 60% !important;
    }
  
    /*  fin index.html section 1 | enlaces a redes sociales  */
  
  
    /* ******* inicio index.html seccion-2 presentacion *************** */
    .seccion-2-presentacion {
      height: 400px;
      width: 94%;
  
      border-radius: 10px;
      margin-left: 3%;
      background-image: url(../IMG/presentacion.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* centrar el elemento hijo */
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  
    /* cuadro traslúcido que contiene al h2 central */
    .cuadro-presentacion {
      /* este elemento fue centrado desde su padre .seccion-1-presentacion */
      height: auto;
      width: 90%;
      /*  border: 3px rgb(124, 211, 232) solid; */
      border-radius: 10px;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    /*h2 Ciudad de Bs As...*/
    .cuadro-presentacion h2 {
      color: #EB8B88;
      font-size: 3.5rem;
      text-align: center;
    }
  
    /* div que contiene el parrafo y botón "Registrarse" */
    .registrate {
      background-color: white;
      height: 75px;
      width: 90% !important;
  
      padding-left: 25px;
      padding-right: 25px;
  
      font-size: 2rem;
      border: 2px #2954df double;
      border-radius: 20px;
      /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
      /* box-shadow: inset 0px 0px 20px #2954df,*/
      /* difuminado interno */
      /*  0px 0px 20px #2954df; */
      /* difuminado externo */
  
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      /* en dispositivos mediano y grandes, 
      el texto de este div, aparecerá alineado al margen izquierdo */
      text-align: left;
  
    }
  
    /* div que contiene el parrafo y botón "Conexión API" */
    .conexion-api-exploradores {
      background-color: black;
      color: rgb(70, 103, 211);
      height: 75px;
      width: 90% !important;
  
      padding-left: 25px;
      padding-right: 25px;
  
      font-size: 2rem;
      border: 2px blueviolet double;
      border-radius: 20px;
      /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
      /*  box-shadow: inset 0px 0px 20px blueviolet, */
      /* difuminado interno */
      /*  0px 0px 20px blueviolet; */
      /* difuminado externo */
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      /* en dispositivos mediano y grandes, 
      el texto de este div, aparecerá alineado al margen izquierdo */
      text-align: left;
    }
  
    /* boton enlace "Registrate" */
    .registrate a {
      background-color: #2954df;
      color: white;
      height: auto;
      width: 160px;
  
      font-size: 2rem;
      border-radius: 6px;
  
      text-align: center;
      /* quitar decoracion al enlace */
      text-decoration: none;
    }
  
    /* boton enlace "Conexión API" */
    .conexion-api-exploradores a {
      color: white;
      height: auto;
      width: 180px;
  
      font-size: 2rem;
      border: 2px white double;
      border-radius: 6px;
  
      text-align: center;
      /* quitar decoracion al enlace */
      text-decoration: none;
    }
  
    /* ******* fin index.html seccion-2 presentacion *************** */
  
  
  
    /* ******* inicio index.html seccion-3 galeria *************** */
    .seccion-3-galeria {
      /* Contiene el titulo y la galeria de productos */
  
  
      /* debe contener los 2460px de la galeria
      sumarle los 50px del titulo
      sumarle los 50px de top de la galeria
      sumarle los 40px de boottom de la galeria
      total = 1625px */
      padding-top: 40px;
      height: 2600px;
    }
  
    .galeria-productos {
      /* Contiene las 6 tarjetas giratorias 
            y por eso, esta classe debe estar en las @medias querys*/
  
      /* son 6 card * 350px = 2100px
      sumarle 60px*6=360px de bottom
      total de 2500px */
      min-height: 2460px;
      width: 70%;
      margin-left: 15%;
      margin-top: 50px;
      /* centrar a los elemento hijos */
      display: block;
      /* Convertimos al contenedor en flexbox */
      flex-direction: column;
      /* Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda */
      justify-content: space-between;
      /* Con esto le indicamos que si llega al margen del contenedor que se posicione abajo del otro item 
                      flex-wrap: wrap;*/
      align-items: center;
    }
  
    .producto {
      /* Contiene la card-frente y card-dorso */
      height: 350px;
      width: 100%;
      margin-bottom: 60px;
      /* centrar a los elemento hijos */
      display: flex;
      /* Convertimos al contenedor en flexbox */
      flex-direction: column;
      align-items: center;
  
      /* ocultar todo lo que este fuera del div 
            overflow: hidden; */
  
      /* animación 
            transform: translate(-50%, -50%); */
    }
  
    .card {
      /* class de card-frente y card-dorso  */
      position: absolute;
      height: 350px;
      /* ancho proporcional a su elemento padre */
      width: 70%;
  
      /* animación */
      /* no permitir elegir si el usuario debe ver la cara posterior */
      backface-visibility: hidden;
      /* controlar la velocidad de la animación al cambiar las propiedades de CSS */
      transition: 1s;
  
      /* ocultar todo lo que este fuera del div */
      overflow: hidden;
    }
  
    /* CARRUSEL DE IMG */
    .section-carrusel {
      height: 400px;
      width: 100%;
    }
  
    /* En dispositivos medianos y grandes, las img de las tarjetas
   se ubican en los div producto-x-img */
    /* TARJETAS */
    .producto-transporte-img,
    .producto-salud-img,
    .producto-educacion-img,
    .producto-seguridad-img,
    .producto-comunidad-img,
    .producto-redes-img {
      height: 100%;
      width: 100%;
      margin-top: -20px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .producto-transporte-img {
      background-image: url(../IMG/card-transporte1.jpg);
    }
  
    .producto-educacion-img {
      background-image: url(../IMG/card-educacion1.jpg);
    }
  
    .producto-salud-img {
      background-image: url(../IMG/card-salud1.jpg);
    }
  
    .producto-seguridad-img {
      background-image: url(../IMG/card-seguridad1.jpg);
    }
  
    .producto-comunidad-img {
      background-image: url(../IMG/card-comunidad1.jpg);
    }
  
    .producto-redes-img {
      background-image: url(../IMG/card-redes1.jpg);
    }
  
    /* ******* fin index.html seccion-3 galeria *************** */
  
  
    /* ******* inicio index.html seccion-4 buscador *************** */
    .seccion-4-buscador {
      height: 700px;
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .encontraste,
    .prueba {
      /* es el texto en la seccion del buscador 
            h2 "Si no encontraste lo que buscabas. Prueba aqui"
            */
      font-size: 20px;
    }
  
    .buscador-titulo,
    .buscador-pregunta {
      /*  */
      background-color: #F8E7DB;
      width: 90%;
      margin-left: 5%;
      padding-bottom: 20px;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    .buscador-prueba {
      /* h2 "Prueba aqui..." y buscador */
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .buscador {
      /* Contiene al input y al boton del buscador */
      background-color: white;
      min-height: 60px;
      width: 80%;
      margin-left: 2%;
      border: 1px gray solid;
      /* centrar el elemento hijo */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 30px;
    }
  
    .buscador input {
      background-color: transparent;
      height: 60px;
      width: 85%;
      padding-left: 5%;
      /* quitar decoraciones del input */
      border: 0;
      outline: none;
    }
  
    .buscador button {
      background-color: rgb(97, 97, 112);
      height: 58px;
      width: 60px;
      padding: 5px;
      border: none;
      border-radius: 60px;
    }
  
    /* ******* fin index.html seccion-4 buscador *************** */
  }
  
  
  /* Media query para tabletas MD 
  @media only screen and (min-width: 796px) and (max-width:991px) {}*/
  
  
  /* Media query para dispositivos de escritorio LG */
  @media only screen and (min-width: 992px) {
  
    /* ******* inicio 3) nav | CÓDIGO BOOTSTRAP BARRA DE NAVEGACIÓN *************** */
  
    .nav {
      background-color: #4bb123;
    }
  
  
    /* "N U M E R O S " */
    .nav-marca-logo {
      font-size: 4rem;
      letter-spacing: 15px;
      /* centrar el elemento hijo */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
  
    .container-fluid {
      background-color: #4bb123;
      min-height: 90px;
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .navbar-brand {
      background-color: antiquewhite;
      width: 300px;
      margin-right: 20px;
      text-align: center;
    }
  
    .navbar-collapse,
    .collapse,
    .navbar-header {
      background-color: #4bb123 !important;
      border: none !important;
    }
  
    .navbar-brand span {
      font-size: 20px;
    }
  
    .boton {
      /* son los enlaces dentro del menú desplegable de bootstrap */
      font-size: 15px;
      color: #F1F5F5 !important;
    }
  
    /* hamburguesa | home,secciones,buscar,contaco,iniciarsesion */
    .navbar-nav {
      font-size: 2rem;
      border-left: 2px #025FFF solid;
    }
  
    /* efecto hover en los enlaces */
    .navbar-inverse .navbar-nav>li>a:hover {
      background-color: #FFA202 !important;
    }
  
  
    /* ******* inicio index.html seccion-2 presentacion *************** */
    .seccion-2-presentacion {
      min-height: 510px;
      width: 80%;
  
      padding: 20px;
  
      border-radius: 10px;
      margin-left: 10%;
      background-image: url(../IMG/presentacion.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  
    /* cuadro traslúcido que contiene al h2 central */
    .cuadro-presentacion {
      /* este elemento fue centrado desde su padre .seccion-1-presentacion */
      min-height: auto;
      width: 90%;
      /*  border: 3px rgb(124, 211, 232) solid; */
      border-radius: 10px;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    /* h2 "Ciudad de Bs As..." */
    .cuadro-presentacion h2 {
      color: #EB8B88;
      font-size: 5rem;
      text-align: center;
    }
  
    /* div que contiene el parrafo y botón "Registrarse" */
    .registrate {
      background-color: white;
      height: auto;
      width: 90%;
  
      padding: 8px 20px;
  
      font-size: 2rem;
      border: 2px #2954df double;
      border-radius: 20px;
      /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
      /* box-shadow: inset 0px 0px 20px #2954df,*/
      /* difuminado interno */
      /*  0px 0px 20px #2954df; */
      /* difuminado externo */
  
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
    }
  
    /* div que contiene el parrafo y botón "Conexión API" */
    .conexion-api-exploradores {
      background-color: black;
      color: rgb(70, 103, 211);
      height: auto;
      width: 90%;
  
      padding: 8px 20px;
  
      font-size: 2rem;
      border: 2px blueviolet double;
      border-radius: 20px;
      /*  box-shadow: 0 0 20px var(--color-borde); difumina una sombra alrededor del color seleccionado */
      /*  box-shadow: inset 0px 0px 20px blueviolet, */
      /* difuminado interno */
      /*  0px 0px 20px blueviolet; */
      /* difuminado externo */
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    /* boton enlace "Registrate" */
    .registrate a {
      background-color: #2954df;
      color: white;
      height: auto;
      width: 200px;
  
      margin-left: 10px;
      font-size: 2rem;
      border: 2px #2954df double;
      border-radius: 6px;
      padding: 5px;
      text-align: center;
      /* quitar decoracion al enlace */
      text-decoration: none;
    }
  
    /* boton enlace "Conexión API" */
    .conexion-api-exploradores a {
      color: white;
      height: auto;
      width: 220px;
  
      margin: 10px;
      font-size: 2rem;
      border: 2px white double;
      border-radius: 6px;
      padding: 5px;
      text-align: center;
      /* quitar decoracion al enlace */
      text-decoration: none;
    }
  
    /* ******* fin index.html seccion-2 presentacion *************** */
  
  
    /* ******* inicio index.html seccion-3 galeria *************** */
    .seccion-3-galeria {
      /* Contiene el titulo y la galeria de productos */
  
      margin: 60px auto;
  
      /* debe contener los 660px de la galeria
      sumarle los 50px del titulo
      sumarle los 40px de boottom
      total = 750px */
      height: 750px;
      width: 100%;
      /* background-image: url(../img/galeria.jpg); */
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  
      /* centrar a los elemento hijos */
      display: flex;
      /* Convertimos al contenedor en flexbox */
      flex-direction: column;
      /* on esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda */
      justify-content: space-around;
      align-items: center;
    }
  
    .galeria-productos {
      /* Contiene las 6 tarjetas giratorias 
          y por eso, esta classe debe estar en las @medias querys*/
  
      /* son 6 card * 270px (* 2filas = 540px )
      sumarle 20px*6=120px de bottom
      total de 660px */
      height: 660px;
      width: 90%;
      bottom: 40px;
      /* centrar a los elemento hijos */
      display: flex;
      /* Convertimos al contenedor en flexbox */
      flex-direction: row;
      /* Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda */
      justify-content: space-between;
      /* Con esto le indicamos que si llega al margen del contenedor que se posicione abajo del otro item */
      flex-wrap: wrap;
    }
  
  
    .producto {
      /* Contiene la card-frente y card-dorso */
      height: 270px;
      width: 30%;
      margin: 20px auto;
      /* centrar a los elemento hijos */
      display: flex;
      /* Convertimos al contenedor en flexbox */
      flex-direction: column;
      align-items: center;
  
      /* ocultar todo lo que este fuera del div 
                    overflow: hidden; */
  
      /* animación 
                    transform: translate(-50%, -50%); */
    }
  
    .card {
      /* class de card-frente y card-dorso  */
      position: absolute;
      height: 270px;
      /* ancho proporcional a su elemento padre */
      width: 28%;
  
      /* animación */
      /* no permitir elegir si el usuario debe ver la cara posterior */
      backface-visibility: hidden;
      /* controlar la velocidad de la animación al cambiar las propiedades de CSS */
      transition: 1s;
  
      /* ocultar todo lo que este fuera del div */
      overflow: hidden;
    }
  
    /* CARRUSEL DE IMG */
    .section-carrusel {
      height: 400px;
      width: 100%;
    }
  
  
    /* En dispositivos medianos y grandes, las img de las tarjetas
   se ubican en los div producto-x-img */
    /* TARJETAS */
    .producto-transporte-img,
    .producto-salud-img,
    .producto-educacion-img,
    .producto-seguridad-img,
    .producto-comunidad-img,
    .producto-redes-img {
      height: 100%;
      width: 100%;
      margin-top: -20px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .producto-transporte-img {
      background-image: url(../IMG/card-transporte1.jpg);
    }
  
    .producto-educacion-img {
      background-image: url(../IMG/card-educacion1.jpg);
    }
  
    .producto-salud-img {
      background-image: url(../IMG/card-salud1.jpg);
    }
  
    .producto-seguridad-img {
      background-image: url(../IMG/card-seguridad1.jpg);
    }
  
    .producto-comunidad-img {
      background-image: url(../IMG/card-comunidad1.jpg);
    }
  
    .producto-redes-img {
      background-image: url(../IMG/card-redes1.jpg);
    }
  
    /* ******* fin index.html seccion-3 secciones *************** */
  
  
    /* ******* inicio index.html seccion-4 buscador *************** */
    .seccion-4-buscador {
      height: 500px;
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .buscador-titulo,
    .buscador-pregunta {
      background-color: #F8E7DB;
      width: 90%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
  
  
    .buscador-prueba {
      width: 100%;
      /* centrar a los elementos hijos */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .buscador {
      background-color: white;
      height: 45px;
      width: 30%;
      border: 1px gray solid;
      margin-left: 8%;
      /* centrar el elemento hijo */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 30px;
    }
  
    .buscador input {
      background-color: transparent;
      height: 45px;
      width: 85%;
      padding-left: 10px;
      /* quitar decoraciones del input */
      border: 0;
      outline: none;
    }
  
    .buscador button {
      background-color: rgb(97, 97, 112);
      height: 43px;
      width: 45px;
      padding: 5px;
      border: none;
      border-radius: 70px;
    }
  
    /* ******* fin index.html seccion-4 buscador *************** */
  
  }
  
  
  /* CARRUSEL DE IMG */
  .section-carrusel {
    background-color: #4223b1;
  
    /* la altura y la anchura esta
    descrita en cada @media */
  
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 10px;
  
    display: block;
    /*  */
  
    /* los hijos mas directos se posicionarán en una columna */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  
    overflow: hidden;
  }
  
  .section-carrusel h2 {
    color: white;
    margin: 10px auto;
  }
  
  /* contiene a los 8 div que integran el carrusel,
  por eso, los elementos hijos de este div,
  deben ir ubicados sobre la misma linea horizontal */
  .carrusel-contenedor {
    height: 310px;
    /* (250px + 70px de margen) * 8 perfiles
    =  2560px*/
    width: calc(320px*8);
  
  
    margin-top: 30px;
    /*pone todo en una misma linea*/
    display: flex;
    flex-direction: row;
    /*para que distribuya el enlace en espacio parejo*/
    justify-content: space-between;
  
    /*animacion*/
    animation: animacion 35s linear infinite;
    -webkit-animation: animacion 35s linear infinite;
    overflow-x: hidden;
  
  }
  
  /* cada div, contiene una img y un parrafo */
  .carrusel-img-descripcion {
    background-color: white;
    height: 270px;
    width: 250px;
    margin-left: 50px !important;
    padding: 8px;
  
    display: block;
  
    border-radius: 12px;
    box-shadow: 10px 8px 10px rgb(63, 77, 85) solid;
  
    align-items: center;
    text-align: center;
  }
  
  .carrusel-img-descripcion img {
    height: 210px;
    width: 100%;
    border-radius: 10px;
  }
  
  .carrusel-img-descripcion p {
    margin-top: 10px;
  }
  
  /* carrusel imagénes */
  
  /*animacion*/
  @keyframes animacion {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      /* (250px + 70px de margen) * 4 perfiles
    =  1280px*/
      -webkit-transform: translateX(calc(-320px*4));
      transform: translateX(calc(-320px*4));
    }
  } 